.movie-card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.movie-card__img {
  object-fit: cover;
  height: 203px;
  width: 100%;
  object-position: center;
  cursor: pointer;
}

.movie-card__description {
  width: 100%;
  display: grid;
  padding: 16px;
  grid-template-columns: fit-content(290px) 16px;
  grid-template-rows: 16px 13px;
  gap: 17px 20px;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
}

.movie-card__description:hover .movie-card__delete-button {
  transition: opacity 1s ease;
  opacity: 1;
}

.movie-card__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #A0A0A0;
  margin: 0;
}

.movie-card__like-button {
  background-image: url(../../images/like-button.svg);
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  transition: 0.5s ease-in-out;
}

.movie-card__like-button:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
  background-image: url(../../images/like-button-active.svg);
}

.movie-card__like-button_active {
  background-image: url(../../images/like-button-active.svg);
}

.movie-card__delete-button {
  background-image: url(../../images/delete-button.svg);
  border: none;
  background-color: transparent;
  background-size: 14px 12px;
  background-repeat: no-repeat;
  padding: 0;
  opacity: 0;
  transition: opacity 1s ease;
  cursor: pointer;
}

@media (max-width: 860px) {
  .movie-card__description {
    padding: 14px 18px 14px 14px;
  }
}

@media (max-width: 860px) and (min-width: 681px) {
  .movie-card__img {
    height: 190px;
  }

  .movie-card__description {
    gap: 15px 29px;
  }
}

@media (max-width: 680px) {
  .movie-card__img {
    height: 168px;
  }

  .movie-card__description {
    gap: 14px;
  }

  .movie-card__title {
    font-size: 12px;
  }

  .movie-card__duration {
    font-size: 10px;
  }
}