.promo {
  max-width: 100%;
  display: flex;
  gap: 102px;
  flex-direction: column;
  background-color: #DDDEE3;
  padding: 50px 70px 60px;
}

.promo__title {
  max-width: 626px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0;
  align-self: flex-start;
}

.promo__image {
  background-image: url(../../images/landing-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: flex-end;
  width: 722px;
  height: 244px;
}

@media (max-width: 860px) {
  .promo {
    padding: 300px 44px 70px;
    gap: 140px;
  }

  .promo__title {
    text-align: center;
    margin: 0 auto;

  }

  .promo__image {
    width: 680px;
    height: 230px;
    align-self: center;
  }
}

@media (max-width: 680px) {
  .promo {
    padding: 183px 0 40px;
    gap: 60px;
  }

  .promo__title {
    font-size: 31px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    max-width: calc(100% - 20px);
  }

  .promo__image {
    width: 100%;
  }
}