.info-tooltip {
  visibility: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, .5); */
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.info-tooltip_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility .3s ease, opacity .3s ease;
}

.info-tooltip__container {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  position: relative;
  margin: auto auto;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.info-tooltip__close-button {
  background-image: url(../../images/delete-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
  transition: opacity 1s ease;
  padding: 0;
}
  
.info-tooltip__close-button:hover {
  opacity: 0.6;
  transition: opacity 1s ease;
  cursor: pointer;
}

.info-tooltip__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}