.login {
  max-width: 396px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 0;
  margin: 0 auto;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 40px 0;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
  margin: 0 0 10px;
}

.login__input {
  margin: 0;
  border: none;
  border-radius: 8px;
  background-color: #F4F4F4;
  padding: 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #000;
}

.login__input:focus {
  outline: 1px solid #3456F3;
}

.login__input_type_error {
  color: #EE3465;
}

.login__error {
  height: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
  margin: 5px 0;
}

.login__submit {
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  background-color: #3456F3;
  border-radius: 3px;
  border: none;
  padding: 13px 0 15px;
  margin-top: 159px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.login__submit:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}

.login__register {
  display: flex;
  margin: 16px auto 0;
}

.login__register-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #A0A0A0;
  margin: 0;
}

.login__register-link {
  color: #3456F3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.login__register-link:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 860px) and (min-width: 681px) {
  .login {
    padding: 232px 0;
  }
}

@media (max-width: 680px) {
  .login {
    width: calc(100% - 60px);
    align-items: center;
    padding: 56px 0 30px;
  }

  .login__title {
    margin: 50px auto 80px;
  }

  .login__submit {
    font-size: 12px;
    padding: 15px 0 15px;
    margin-top: 247px;
  }

  .login__register {
    margin-top: 14px;
  }

  .login__register-text {
    font-size: 12px;
  }

  .login__register-link {
    font-size: 12px;
  }
}